@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Kumbh+Sans:wght@400;700&family=Poppins:wght@100&display=swap');

:root {
    font-size: 16px;
    --Pale-orange: hsl(25, 100%, 94%);
    --orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    width: 85%;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--Dark-grayish-blue);
}

.menu {
    display: none;
}

.logo {
    margin-right: 2rem;
}

nav {
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    height: 3px;
    background: var(--orange);
    display: block;
    top: 3rem;
}

nav ul li a:hover {
    color: var(--Very-dark-blue);
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.profile {
    width: calc(85% - 55%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 19rem;
}

.shopping-card {
    margin-right: 0.4rem;
    cursor: pointer;
}

.avatar {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.avatar img {
    width: 50%;
    transition: outline ease .7s;
}

.avatar img:hover {
    outline: 0.1rem solid var(--orange);
    border-radius: 50%;
}

.main {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 7rem auto 0;
}

.images-product {
    width: 30%;
}

.next,
.previous {
    display: none;
}

.slide-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2.5rem;
}

.slide-img img {
    width: 20%;
}

.slide-img img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main-img {
    width: 100%;
}

.main-img img {
    width: 100%;
}

img {
    border-radius: 0.5rem;
}

.details-product {
    margin-top: 2.5rem;
    width: 50%;
}

.details-product h6 {
    color: var(--orange);
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
}

.details-product h1 {
    font-size: 2.5rem;
    width: 70%;
}

.details-product p {
    color: var(--Dark-grayish-blue);
    width: 70%;
    line-height: 1.4rem;
    font-size: 0.9rem;
    margin-top: 2.1rem;
}

.price {
    margin-top: 1.9rem;
}

.new-price {
    display: flex;
    align-items: center;
}

.new-price span:first-child {
    font-size: 1.6rem;
    font-weight: 700;
}

.new-price span:last-child {
    background-color: var(--Pale-orange);
    color: var(--orange);
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    margin-left: 0.7rem;
    font-size: 1rem;
    font-weight: 700;
}

.old-price span {
    display: inline-block;
    margin-top: 0.7rem;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
    font-size: 0.9rem;
}

.Add-To-card {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.Quantity {
    width: 35%;
    background-color: var(--Light-grayish-blue);
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
}

.Quantity button {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    background: transparent;
    border: none;
}

.Quantity button:last-child {
    justify-content: flex-end;
}

.btn {
    width: 60%;
    display: flex;
    align-items: center;
}

.btn span {
    display: inline-block;
    margin-left: 0.7rem;
}

.btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    background-color: var(--orange);
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 85%;
    color: white;
    font-weight: 700;
    transition: all ease 1s;
}

.btn button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 15px 1px var(--orange);
    transform: scale(1.02);
}

.cart {
    position: absolute;
    right: 3%;
    top: 11%;
    width: 25%;
    height: 60vh;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    display: none;
}

.cart h5 {
    padding: 1.2rem;
    font-size: 1rem;
    border-bottom: 1px solid var(--Dark-grayish-blue);
}

.cart-product-shop {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: var(--Dark-grayish-blue);
    font-weight: 700;
    overflow-y: auto;
}

.toggelCard {
    display: block;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 8px;
    }

    header {
        border: none;
    }

    nav {
        display: none;
    }

    .avatar img {
        width: 60%;
    }

    .main {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .images-product {
        width: 90%;
    }

    .main-img img {
        height: 10%;
    }

    .slide-img {
        display: none;
    }

    .details-product {
        width: 85%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .details-product h6 {
        font-size: 1.3rem;
    }

    .details-product h1 {
        font-size: 3.5rem;
    }

    .details-product p {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 700
    }

    .price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .new-price span:first-child {
        font-size: 2.5rem;
    }

    .new-price span:last-child {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .old-price span {
        font-size: 1.5rem;
    }

    .Add-To-card {
        flex-direction: column;
        width: 100%;
    }

    .Quantity {
        width: 100%;
        padding: 1.2rem;
        margin-bottom: 1rem;
    }

    .Quantity span {
        font-size: 2rem;
    }

    .btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .btn button {
        width: 100%;
        padding: 1.2rem;
    }

    .menu {
        display: block;
        margin-right: 2rem;
        cursor: pointer;
    }

    .main-img {
        position: relative;
    }

    .next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 2%;
        top: 45%;
        background-color: white;
        border-radius: 50%;
        width: 8%;
        height: 8%;
    }

    .previous {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 45%;
        left: 2%;
        background-color: white;
        border-radius: 50%;
        width: 8%;
        height: 8%;
    }
}